@page "/"
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div id='map'></div>

@code{
	protected override void OnAfterRender(bool firstRender)
	{
		JSRuntime.InvokeVoidAsync("mapBoxFunctions.initMapBox");
	}
}
