@page "/"
@inject IJSRuntime JSRuntime
@inject Client.Data.IMap Map 

<div id='map'></div>

@code{
	protected override void OnAfterRender(bool firstRender)
	{
		Map.SetJSRuntime(JSRuntime);
		Map.InitMapAsync();
	}
}
